.link__img1 {
	width: 26px;
	height: 27px;
	position: absolute;
	margin: -24% 0 0 42%;
}
.link__img2 {
	width: 26px;
	height: 25px;
	position: absolute;
	margin: -24% 0 0 43%;
}
.link__img3 {
	width: 21px;
	height: 27px;
	position: absolute;
	margin: -24% 0 0 43%;
}	
.link__img4 {
	width: 17px;
	height: 27px;
	position: absolute;
	margin: -24% 0 0 45%;
}	
.link__img5 {
	width: 26px;
	height: 25px;
	position: absolute;
	margin: -24% 0 0 42%;
}	
.link__img6 {
	width: 21px;
	height: 27px;
	position: absolute;
	margin: -24% 0 0 44%;
}	